<p-card header="{{jeux.nom}}" subheader="{{jeux.nombre_joueurs}} joueurs" [style]="{width: '25rem', 'margin': '0 auto', 'border':' 1px solid','margin-top':'3em','margin-bottom':'3em'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
    <img alt="Card" src="{{jeux.url_media}}">

  </ng-template>
  <hr/>
  <p><strong>Identifiant :</strong>{{jeux.id}}</p>
  <p><strong>Description :</strong>{{jeux.description}}</p>
  <p><strong>Editeur :</strong>{{jeux.editeur_id.nom}}</p>
  <p><strong>Langues :</strong>{{jeux.langue}}</p>
  <p><strong>Theme :</strong>{{jeux.theme_id.nom}}</p>
  <p><strong>Durée :</strong>{{jeux.duree}}</p>
  <ng-template pTemplate="footer">
    <p><strong>Regles :</strong>{{jeux.regles}}</p>

  </ng-template>
</p-card>
<p-button (click)="showModalDialog()" icon="pi pi-chart-bar" label="Statistiques du jeu"></p-button>
<p-dialog header="Statistiques du jeu" [(visible)]="displayModal" [modal]="true" style="background-color: #f7ba2a" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
      <p class="p-m-0">Note moyenne du jeu : {{jeux.statistiques.noteMoyenne}}</p>
      <p class="p-m-0">Note la plus haute : {{jeux.statistiques.noteMax}}</p>
      <p class="p-m-0">Note la plus basse : {{jeux.statistiques.noteMin}}</p>
      <p class="p-m-0">Nombre de commentaires pour ce jeu : {{jeux.statistiques.nbCommentaires}}</p>
      <p class="p-m-0">Nombre de commentaires pour tous les jeux : {{jeux.statistiques.nbCommentairesTotal}}</p>
      <p class="p-m-0">Classement de ce jeu : {{jeux.statistiques.rang}}</p>
      <p class="p-m-0">Classement de ce jeu dans l'ensemble des jeux ayant le même thème : {{jeux.statistiques.nbJeuxTheme}}</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayModal=false"  label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>

<p-button (click)="showModalDialog2()" icon="pi pi-money-bill" label="Informations tarifaires du jeu"></p-button>
<p-dialog header="Informations tarifaires du jeu" [(visible)]="displayModal2" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <p class="p-m-0">Prix moyen du jeu : {{jeux.tarif.prixMoyen}}</p>
  <p class="p-m-0">Prix le plus haut : {{jeux.tarif.prixMax}}</p>
  <p class="p-m-0">Prix le plus bas : {{jeux.tarif.prixMin}}</p>
  <p class="p-m-0">Nombre d'utilisateurs qui possèdent ce jeu : {{jeux.tarif.nbAchats}}</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayModal2=false"  label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>


<button pButton type="button" icon="pi pi-check" iconPos="left" [style]="{'background-color': '#f7ba2a'}" (click)="TriDateComm(jeux.commentaires)" label="Tri des commentaires"></button>
<p-table>
  <ng-template pTemplate="header">
    <tr>
      <th>Identifiant commentaire</th>
      <th>Commentaire</th>
      <th>Date commentaire</th>
      <th>note</th>
      <th>Identifiant Utilisateur</th>
      <th>Modification</th>
    </tr>
  </ng-template>
  </p-table>
  <div *ngFor="let comm of jeux.commentaires">
    <p-table>
      <ng-template pTemplate="footer">
        <tr>
          <td>{{comm.id}}</td>
          <td>{{comm.commentaire}}</td>
          <td>{{comm.date_com | date:'dd.MM.yyyy H:mm'}}</td>
          <td><p-rating [(ngModel)]="comm.note" readonly="true" stars="5" style="color: yellow" [cancel]="false"></p-rating></td>
          <td>{{comm.user_id}}</td>
          <td><button pButton type="button" icon="pi pi-user-edit" iconPos="left" (click)="Modifier(comm)"></button></td>
        </tr>
      </ng-template>
    </p-table>
  </div>





