<p-card header="{{jeux.nom}}" subheader="{{jeux.nombre_joueurs}} joueurs" [style]="{width: '25rem', 'margin': '0 auto', 'border':' 1px solid','margin-top':'3em','margin-bottom':'3em'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
    <img alt="Card" src="{{jeux.url_media}}">

  </ng-template>
  <hr/>
  <p><strong>Identifiant :</strong>{{jeux.id}}</p>
  <p><strong>Description :</strong>{{jeux.description}}</p>
  <p><strong>Editeur :</strong>{{jeux.editeur_id.nom}}</p>
  <p><strong>Langues :</strong>{{jeux.langue}}</p>
  <p><strong>Theme :</strong>{{jeux.theme_id.nom}}</p>
  <p><strong>Durée :</strong>{{jeux.duree}}</p>
  <ng-template pTemplate="footer">
    <p><strong>Regles :</strong>{{jeux.regles}}</p>

  </ng-template>
</p-card>
<button pButton type="button" icon="pi pi-check" iconPos="left" (click)="TriDateComm(jeux.commentaires)"></button>
<p-table>
  <ng-template pTemplate="header">
    <tr>
      <th>Identifiant commentaire</th>
      <th>Commentaire</th>
      <th>Date commentaire</th>
      <th>note</th>
      <th>Identifiant Utilisateur</th>
      <th>Modification</th>
    </tr>
  </ng-template>
  </p-table>
  <div *ngFor="let comm of jeux.commentaires">
    <p-table>
      <ng-template pTemplate="footer">
        <tr>
          <td>{{comm.id}}</td>
          <td>{{comm.commentaire}}</td>
          <td>{{comm.date_com | date:'dd.MM.yyyy H:mm'}}</td>
          <td>{{comm.note}}</td>
          <td>{{comm.user_id}}</td>
          <td><button pButton type="button" icon="pi pi-user-edit" iconPos="left" (click)="Modifier(comm)"></button></td>
        </tr>
      </ng-template>
    </p-table>
  </div>





