<h2 class="p-text-center"> Modification de votre profil </h2>
<form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
  <div class="p-fluid">
    <div class="p-field">
      <input id="nom" type="text" pInputText formControlName="nom" placeholder="Veuillez saisir votre nom">
      <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="invalid-feedback">
        <div *ngIf="nom.errors.required" style="color:#ee7f01">Le nom est obligatoire</div>
        <div *ngIf="nom.errors.minlength"  style="color:#ee7f01">Le nom doit comporter au moins deux caractères</div>
      </div>
    </div>
    <div class="p-field">
      <input id="prenom" type="text" pInputText formControlName="prenom" placeholder="Veuillez saisir votre prénom">
      <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="invalid-feedback">
        <div *ngIf="prenom.errors.required" style="color:#ee7f01">Le prénom est obligatoire</div>
        <div *ngIf="prenom.errors.minlength"  style="color:#ee7f01">Le prénom doit comporter au moins deux caractères</div>
      </div>
    </div>
    <div class="p-field">
      <input id="email" type="text" pInputText formControlName="email" placeholder="Veuillez saisir votre nouvelle adresse mail">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
        <div *ngIf="email.errors.required" style="color:#ee7f01">L'adresse email est obligatoire</div>
        <div *ngIf="email.errors.email" style="color:#ee7f01"> L'adresse email n'a pas le bon format </div>
      </div>
    </div>
  </div>
  <button id="button" [disabled]="!formulaire.valid">Valider</button>
</form>
