<h1 class='center'>Jeux</h1>

<button style="margin:20px " mat-raised-button (click)="modifTriName()">
  <i class="pi {{iconTriName}}"></i> Tri par nom</button>
<button style="margin:20px " mat-raised-button (click)="modifTriNote()">
  <i class="pi {{iconTriNote}}"></i> Tri par note</button>
<p-table [columns]="cols" [value]="jeux">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>