<h1 class='center'>Jeux</h1>

<button style="margin:20px " mat-raised-button (click)="modifTriName()">
  <i class="pi {{iconTriName}}"></i> Tri par nom</button>
<button style="margin:20px " mat-raised-button (click)="modifTriNote()">
  <i class="pi {{iconTriNote}}"></i> Tri par note</button>
<p-table [value]="jeux$ | async">
  <ng-template pTemplate="header">
    <tr>
      <th>Identifiant</th>
      <th>Nom</th>
      <th>Nombre joueur</th>
      <th>Durée</th>
      <th>Détails</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-jeu>
    <tr>
      <td>{{jeu.id}}</td>
      <td>{{jeu.nom}}</td>
      <td>{{jeu.nombre_joueurs}}</td>
      <td>{{jeu.duree}}</td>
      <td><button type="button" pButton pRipple icon="pi pi-exclamation-circle" [routerLink]="['/jeux', jeu.id]"></button></td>
    </tr>
  </ng-template>
</p-table>