<h1 class='center'>Jeux</h1>

<div class="p-fluid p-grid">
  <div class="p-field p-col-12 p-md-3">
    <p-dropdown [options]="nbJoueurs"
                (onChange)="selectFilterNbJoueur()"
                [(ngModel)]="selectedNbJoueur"
                optionLabel="nbJoueurs" class="ng-invalid ng-dirty"
                placeholder="Nombre de joueur minimum">
    </p-dropdown>
  </div>
  <div class="p-field p-col-12 p-md-3">
    <p-dropdown [options]="themes"
                (onChange)="selectFilterTheme()"
                [(ngModel)]="selectedTheme"
                optionLabel="nom" class="ng-invalid ng-dirty"
                placeholder="Theme">
    </p-dropdown>
  </div>
  <div class="p-field p-col-12 p-md-3">
    <p-dropdown [options]="ages"
                (onChange)="selectFilterAge()"
                [(ngModel)]="selectedAge"
                optionLabel="age" class="ng-invalid ng-dirty"
                placeholder="Age minimum">
    </p-dropdown>
  </div>
  <div class="p-field p-col-12 p-md-3">
  <p-dropdown [options]="editeurs"
              (onChange)="selectFilterEditeur()"
              [(ngModel)]="selectedEditeur"
              optionLabel="nom" class="ng-invalid ng-dirty"
              placeholder="Editeur">
  </p-dropdown>
</div>
</div>
<button style="margin:20px " (click)="modifTriName()">
  <i class="pi {{iconTriName}}"></i> Tri par nom</button>
<button style="margin:20px " (click)="modifTriNote()">
  <i class="pi {{iconTriNote}}"></i> Tri par note</button>
<p-table [value]="jeux$ | async">
  <ng-template pTemplate="header">
    <tr>
      <th style="text-align: center">Nom</th>
      <th style="text-align: center">Photo</th>
      <th style="text-align: center">Thème</th>
      <th style="text-align: center">Durée</th>
      <th style="text-align: center">Nombre de joueurs</th>
      <th style="text-align: center">Age minimum</th>
      <th style="text-align: center">Détail</th>
      <th style="text-align: center">Acheter</th>


    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-jeu>
    <tr>
      <td style="text-align: center"><strong>{{jeu.nom}}</strong></td>
      <td style="text-align: center"><img src="{{jeu.url_media}}" alt="{{jeu.nom}}" width="150" height="150"></td>
      <td style="text-align: center">{{jeu.theme_id.nom}}</td>
      <td style="text-align: center">{{jeu.duree}}</td>
      <td style="text-align: center">{{jeu.nombre_joueurs}}</td>
      <td style="text-align: center">{{jeu.age}}</td>
      <td style="text-align: center"><button type="button" pButton icon="pi pi-search" [routerLink]="['/jeux', jeu.id]" style="background-color: #f7ba2a "></button></td>
      <td style="text-align: center"><button type="button" pButton icon="pi pi-shopping-cart" [routerLink]="['/profile/achat', jeu.id]" style="background-color: #f7ba2a "></button></td>

    </tr>
  </ng-template>
</p-table>
