<p-menubar [model]="items" [style]="{'background-color':'#f7ba2a', 'margin-bottom':'2em'}">
</p-menubar>

<!--
<li *ngIf="authService.isLoggedOut$ | async"><a [routerLink]="['/login']"></a></li>
<li *ngIf="authService.isLoggedIn$ | async"><a [routerLink]="['/profile']"></a></li>
<li *ngIf="authService.isLoggedIn$ | async"><button (click)="logout()"></button></li>
-->
<router-outlet></router-outlet>

<p-toast position="top-right" key="main"></p-toast>

<!--div class="footer">
  <p><strong>Copyright ©2021 La ludothèque des gens cool | Site web du projet marathon du semestre 4</strong></p>
</div-->
