<h2 class="p-text-center">Profil d'un utilisateur</h2>
<div *ngIf="!loading">
  <p-fieldset [style]="{'background-color': '#DCDCDC'}" legend="Votre profil">
    Vous avez l'identifiant n°{{user.id}} <br/>
    Votre adresse email est {{user.email}} <br/>
    Votre prénom est {{user.prenom}} <br/>
    Votre nom est {{user.nom}} <br/>
    Votre pseudo est {{user.pseudo}} <br/>
  </p-fieldset>
  <br/>
  <p-fieldset [style]="{'background-color': '#DCDCDC'}" legend="À savoir">
    Compte crée le {{user.created_at | amDateFormat:'LL'}} <br/>
    Comtpe modifié le {{user.updated_at | amDateFormat:'LL'}} <br/>
  </p-fieldset>
  <br/>
</div>
<button pButton pRipple id="button" type="button" label="Editer mon profil" routerLink="edit" routerLinkActive="active"></button>


