
<p-table [value]="jeux | async">
  <ng-template pTemplate="header">
    <tr>
      <th>Nom</th>
      <th>Date d'achat</th>
      <th>Lieu d'achat</th>
      <th>Prix</th>
      <th>Détail</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-jeu>
    <tr>
      <td>{{jeu.jeu.nom}}</td>
      <td>{{jeu.date_achat}}</td>
      <td>{{jeu.lieu}}</td>
      <td>{{jeu.prix}}</td>
      <td><button type="button" pButton pRipple icon="pi pi-exclamation-circle" [routerLink]="['/jeux', jeu.id]"></button></td>

    </tr>
  </ng-template>
</p-table>


